body{
    margin: 0;
    padding: 0;
    background: url(mybg.jpg) no-repeat;
    background-size: cover; 
}
.part{
    width: 450;
    background: rgba(0, 238, 255, 0.35);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: 'Century Gothic',sans-serif;
}
.part-img{
    border-radius: 50%
}