body{
    margin: 0;
    padding: 0;
    background: url(images/mybg.jpg) no-repeat;
    background-size: cover; 
}
.part{
    width: 450;
    background: rgba(0, 238, 255, 0.35);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    font-family: 'Century Gothic',sans-serif;
}
.part-img{
    border-radius: 50%
}
.part h5{
    font-size: 15px;
}
.part p{
    text-align: left;
}
.part ul{
    margin: 0;
    padding: 0;
}
.part li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.part li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.part li a:hover{
    color: #b9b9b9;
}
#header{
    font-size: 25px;
    color:#000000;
    font-family: 'Century Gothic',sans-serif;
}
p{
    font-size: 15px;
}
